/target
/configuration/local.yml
integration_tests/target

# Docker-specific configuration for local development
/docker_config
.env
.vscode/
scripts/*
!scripts/ci-auto-version.sh
configuration/local.yaml

/bin/
pkg/

/notes